@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700|Tangerine');

$numberOfSlides: 5;
$showSlideSeconds: 7s;
$slideLoopLength: $numberOfSlides *  $showSlideSeconds;
$slideHeight: 320px;
$tangerine: 'Tangerine', cursive;
$playfair: 'Playfair Display', serif;

.slider {
  align-items: center;
  display: flex;
  height: $slideHeight;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;

  &__slide {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    position: absolute;
    transform: translate3d(-100%, 0, 0);
    width: 100%;
  }

  &__quote {
    font-family: $tangerine;
    font-size: 6vw;
  }

  &__source {
    align-self: flex-end;
    font-family: $playfair;
    font-size: 2.5vw;
    width: 30%;
  }

  @for $i from 1 through $numberOfSlides {
    .animation-#{$i} {
      animation: cycle $slideLoopLength linear ($i - 1) / $numberOfSlides * $slideLoopLength infinite;
    }
  }

  &:hover .slider__slide {
    animation-play-state: paused;
  }
}

@keyframes cycle {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  4% {
    transform: translate3d(0, 0, 0);
  }

  16% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 0;
  }

  20% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
    z-index: 0;
  }

  21% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
    z-index: -1;
  }

  92% {
    z-index: 0;
  }
}
